*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

/*---------------------------------------------------------------------RESET CSS---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------START!------------------------------------------------------------------------*/


body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

header{
    background-color: black;
    display: flex;
}

.logo{
    width: 50px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.menu {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.menu li a{
    padding-right: 2rem;
    color: aliceblue;
}


.contenedor{
    width: 100%;
    overflow: hidden;
    display: inline-block;
	position: relative;
}

.contenedor h1 {
    font-size: 4rem;
    font-weight:800;
    display: block;
	position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
}

.cabecera {
    width: 100%;
    height: 100%;
    opacity: 100%;
}

h3 {
 font-size: 3rem;
 font-weight: 600;
}

.hola {
    display: flex;
    margin: 4rem;
    gap: 6rem;
}

.paragraf {
    display: block;
}

.intro {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.subtitulo {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.border {
    border-bottom: #000000 1px solid;
}

.hola img {
    width: 100%;
    height: 100%;
    margin:auto;
}